$content-background: rgb(245, 245, 245);
$menu-background: rgb(53, 53, 53);
$highlight-color: rgb(104, 153, 104);
$btn-color: rgb(91, 150, 91);
$shadow-color: rgba(0,0,0,0.4);
$highlight-area: rgba(110, 145, 129, 0.3);