@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Signika:wght@500&display=swap');
@import '_colours';


@import '_header';
@import '_content';
@import '_footer';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: $content-background;
    font-family: 'Rubik', sans-serif;

    a {
        color: black;
    }
}